body {
    margin: 0;
    background-color: #222;
    font-family: system-ui;
    place-content: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.App {
    display: flex;
    flex-direction: column;
    gap: 8px;
}